.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  margin: 0 0 10px 0;
  padding: 10px;
  font-size: 0.7em;
}
.submitTODO {
  display: block;
  text-align: center;
}
.submitTODO input {
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(30, 32, 36, 0.8);
  border-width: 1px;
  text-align: center;
  width: 60%;
}
.todoContain {
  width: 60%;
  position: relative;
  left: 20%;
  margin: 10px 0 0 0;
  padding: 5px;
}
.todo {
  display: block;
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  padding: 3px;
  cursor: pointer;
  transition: 0.6s;
  border-radius: 4px;
  margin: 5px;
}
.todo:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
}
.todo:hover .delete {
  display: inline-block;
}
.todo:hover .check {
  display: inline-block;
}

.delete {
  color: red;
  display: none;
  position: absolute;
  right: 20px;
  z-index: 6;
}
.check {
  color: darkblue;
  display: none;
  position: absolute;
  left: 20px;
  z-index: 6;
}
.todoEnd {
  display: block;
  text-align: center;
  border-top: solid 1px rgba(20, 30, 33, 0.4);
  padding: 3px;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
  margin-top: 16px;
}
.todoEnd:hover {
  opacity: 0.6;
}
.chance {
  background-color: darkblue;
  color: white;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.chance:hover {
  opacity: 0.8;
}
.popup {
  position: fixed;
  top: 5%;
  left: 5%;
  width: calc(90% - 50px);
  height: calc(90% - 50px);
  background-color: rgba(240, 240, 240, 0.95);
  z-index: 7;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
}
.popup .erase {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 10px;
  width: 100px;
  border: solid 1px red;
  border-radius: 10px;
}
.popup .erase:hover {
  background-color: gray;
  cursor: pointer;
}
.popup .close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  width: 150px;
  border: solid 1px black;
  border-radius: 10px;
}
.popup .close:hover {
  background-color: gray;
  cursor: pointer;
}